@{
    ViewData["Title"] = "Automix - Home Page";
}

<div class="text-center">
    <h1 class="display-4"><b>Bem-vindo ao Automix</b></h1><br />
    <p>O <strong>Automix</strong> é uma solução inovadora para escolas de condução, desenvolvida para simplificar a gestão dos trajetos já percorridos pelos alunos nas aulas de condução.</p>
    <br />
    <p>
        Com o <strong>Automix</strong>, as escolas de condução poderão:
        <ul style="list-style-type: none; padding: 0;">
            <li>✓ Monitorizar e organizar os trajetos percorridos pelos alunos.</li>
            <li>✓ Facilitar o planejamento de futuras aulas com base no histórico de trajetos.</li>
            <li>✓ Manter um registo de todos os alunos, instrutores e percursos de exames de condução.</li>
        </ul>
    </p>
    <br />
    <p>Explore uma nova maneira de otimizar as operações diárias da sua escola de condução com o Automix.</p>
</div>

